<h1>個人情報の詳細</h1>

<div class="nav justify-content-end">
 <%= link_to '一覧へ戻る', tasks_path, class: 'nav-link' %>
</div>

<table class="table">
  <tbody>
  	<tr>
     <th scope="col-md-4">ID</th>	
     <td scope="col-md-4"><%= @task.id %></td>
    </tr>
    <tr>	
     <th scope="col-md-4">名前</th>
     <td scope="col-md-4"><%= @task.name %></td>
    </tr>
     <th scope="col-md-4">説明</th>
     <td scope="col-md-4"><%= @task.description %></td>
    </tr>
    <tr>
     <th scope="col-md-4">登録日時</th>
	 <td scope="col-md-4"><%= @task.created_at %></td>
    </tr>
  </tbody>
</table>

<%= link_to '編集', edit_task_path, class: 'btn btn-primary mr-3'%>
<%= link_to '削除', @task, method: :delete, data: { confirm: "タスク「#{@task.name}」を削除します。よろしいでっか？"},class: 'btn btn-danger mr-3'%>

