    <header>
         <div class="top-text">
           <h1> タイトル</h1>
           <p id="sub">sub title</p>
          </div>
    </header>    



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
    




<h1>index.html.erbのファイルに記入</h1>
<p>Find me in app/views/tasks/index.html.erb</p>
	<div class="form-group">
		<%= link_to  '新規登録', '/tasks/new', class: 'btn btn-primary' %>
	</div>


<table class="table">
  <thead>
    <tr>
     <th scope="col-md-4">ID</th>	
     <th scope="col-md-4">名前</th>
     <th scope="col-md-4">説明</th>
     <th scope="col-md-4">登録日時</th>
     <th></th>
    </tr>
  </thead>
  <% @tasks.each do |task| %>
  <tbody>
  	<tr>
     <th scope="col-md-4"><%= task.id %></th>	
     <th scope="col-md-4"><%= link_to task.name, tasks_show_path %></th>
     <th scope="col-md-4"><%= task.description %></th>
	 <th scope="col-md-4"><%= task.created_at %></th>
   byebug
	 <th scope="col-md-4"><%= link_to '編集', '/tasks/:id/edit', class: 'btn btn-primary mr-3'%></th>
	 <th scope="col-md-4"><%= link_to '削除', '/tasks/:id', class: 'btn btn-danger mr-3'%></th>
    </tr>
  </tbody>
  <% end %>
 </thead>




